<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta data-n-head="ssr" data-hid="theme-color" name="theme-color" content="#fc035a" />
    <meta name="title" content="Belinha Bot Website" />
    <meta name="description" content="um simples bot para discord :)" />
    <meta name="keywords" content="discord, bot, giiki, giikinotfound, belinha, r2" />
    <meta name="robots" content="index, follow" />
    <meta property="og:image"
        content="https://media.discordapp.net/attachments/803083179706679366/838806028656443392/belinha.png?width=480&height=480" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link id="favicon" rel="icon"
        href="https://media.discordapp.net/attachments/821036317344923660/838605199123021864/belinha.png?width=480&height=480"
        type="image/x-icon" />
    <meta name="language" content="Portuguese" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Belinha dashboard 🎀</title>

    <link href="css/style.css" rel="stylesheet" />

    <link rel="Stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js%22%3E"></script>
    <link rel="stylesheet" href="https://kurayami.ml/css/now-ui-kit.css" />
    <link rel="stylesheet" href="https://kurayami.ml/css/bootstrap.min.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <script>
        function openMod(id) {
            var modal = document.getElementById(id);
            modal.style.display = "block";
        }
        function closeMod(id) {
            var modal = document.getElementById(id);
            modal.style.display = "none";
        }

        function snackopen() {
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 2900);
        }
    </script>
    <div id="snackbar"><i class="fa-solid fa-badge-check"></i>Sucesso!</div>
    <%- include('partials/sidebar.ejs') %>
    <div class="right" id="right">
        <%- include('partials/navbar.ejs') %>

        <div class="meio">
            <% if(id === "pet") {%>
            <section id="pet">
                <h2 class="sec-t" id="pet">Pets</h2>
                <% pets.forEach(pet=> { %>

                <div id="myModal-<%= pet.alt%>" class="modal">

                    <form action="/shop" method="POST" />
                    <input type="hidden" name="tipo" value="pet" />
                    <input type="hidden" name="item" value="<%= JSON.stringify(pet) %>" />
                    <div class="modal-content">
                        <h2 style="padding: 10px;">
                            <%= pet.nome %>
                        </h2>
                        <p style="padding: 10px; float: left;">
                            <img class='imgm' src=<%=`https://belinha-website.herokuapp.com/assets/pets/${pet.alt}.png`
                                                                %> style="width: 40%; float: right">
                            Você esta prestes a adotar este pet, caso já tenha um, ele sera substituído
                        </p>

                        <div class="footer-modal">

                            <% if( data.money < pet.preço )  { %>
                            <div class="discord-btn disabled" style="float: right;">
                                <i class="fas fa-shopping-basket"></i> Comprar
                            </div>
                            <% } else { %>
                            <button type="submit" onclick="snackopen(); closeMod(`myModal-<%= pet.alt %>`)"
                                class="discord-btn" style="float: right;">
                                <i class="fas fa-shopping-basket"></i> Comprar
                            </button>
                            <% } %>

                            <a onclick="closeMod(`myModal-<%= pet.alt %>`)" style="cursor:pointer">
                                <div class="discord-btn" style="background-color: rgb(255, 0, 47); float: right;">
                                    <i class="fas fa-times"></i> Sair
                                </div>
                            </a>
                        </div>
                    </div>
                    </form>

                </div>

                <a onclick="openMod(`myModal-<%= pet.alt %>`)">
                    <div class="item-shop">
                        <img class="img-shop"
                            src=<%=`https://belinha-website.herokuapp.com/assets/pets/${pet.alt}.png` %>>
                        <div class="name-shop" style="border-top:4px solid #ec27ff">
                            <%= pet.nome %>
                            <div class="item-desc">
                                <%= pet.tipo %>
                            </div>
                            <div class="preço"><i class="fas fa-coins"></i>
                                <%= pet.preço %>
                            </div>
                        </div>
                    </div>
                </a>
                <% }) %>
            </section>
            <% } else if(id === "casa") {%>
            <section id="casa">
                <h2 class="sec-t" id="casa">Casas</h2>

                <% casas.forEach(casa=> { %>
                <div id="myModal-<%= casa.alt%>" class="modal">

                    <form action="/shop" method="POST" />
                    <input type="hidden" name="tipo" value="casa" />
                    <input type="hidden" name="item" value="<%= JSON.stringify(casa) %>" />
                    <div class="modal-content">
                        <h2 style="padding: 10px;">
                            <%= casa.nome %>
                        </h2>
                        <p style="padding: 10px; float: left;">
                            <img class='imgm' src=<%=`https://belinha-website.herokuapp.com/assets/casa/${casa.alt}.png`
                                                            %> style="width: 40%; float: right">
                            Você esta prestes a comprar esta casa, caso já tenha uma, ela
                            sera
                            substituída
                        </p>

                        <div class="footer-modal">

                            <% if( data.money < casa.preço )  { %>
                            <div class="discord-btn disabled" style="float: right;">
                                <i class="fas fa-shopping-basket"></i> Comprar
                            </div>
                            <% } else { %>
                            <button type="submit" onclick="snackopen(); closeMod(`myModal-<%= casa.alt %>`)"
                                class="discord-btn" style="float: right;">
                                <i class="fas fa-shopping-basket"></i> Comprar
                            </button>
                            <% } %>

                            <a onclick="closeMod(`myModal-<%= casa.alt %>`)" style="cursor:pointer">
                                <div class="discord-btn" style="background-color: rgb(255, 0, 47); float: right;">
                                    <i class="fas fa-times"></i> Sair
                                </div>
                            </a>
                        </div>
                    </div>
                    </form>

                </div>
                <a onclick="openMod(`myModal-<%= casa.alt %>`)">
                    <div class="item-shop">
                        <img class="img-shop" src=<%=`https://belinha-website.herokuapp.com/assets/casa/${casa.alt}.png`
                                                        %>>
                        <div class="name-shop" style="border-top:4px solid #ec27ff">
                            <%= casa.nome %>
                            <div class="preço"><i class="fas fa-coins"></i>
                                <%= casa.preço %>
                            </div>
                        </div>
                    </div>
                </a>
                <% }) %>
            </section>
            <% } else if(id === "banner") {%>
            <section id="banner">
                <h2 class="sec-t" id="banner">Banners</h2>
                <% banners.forEach(banner=> {%>
                <div id="myModal-<%= banner.alt%>" class="modal">

                    <form action="/shop" method="POST" />
                    <input type="hidden" name="tipo" value="banner" />
                    <input type="hidden" name="item" value="<%= JSON.stringify(banner) %>" />
                    <div class="modal-content">
                        <h2 style="padding: 10px;">
                            <%= banner.nome %>
                        </h2>
                        <p style="padding: 10px;">
                            Você esta prestes a comprar este banner, caso já tenha
                            um,
                            ele sera substituído
                        </p>
                        <img class='imgm'
                            src=<%=`https://belinha-website.herokuapp.com/assets/banner/${banner.alt}.png`%>>

                        <div class="footer-modal">

                            <% if( data.money < banner.preço )  { %>
                            <div class="discord-btn disabled" style="float: right;">
                                <i class="fas fa-shopping-basket"></i> Comprar
                            </div>
                            <% } else { %>
                            <button type="submit" onclick="snackopen(); closeMod(`myModal-<%= banner.alt %>`)"
                                class="discord-btn" style="float: right;">
                                <i class="fas fa-shopping-basket"></i> Comprar
                            </button>
                            <% } %>

                            <a onclick="closeMod(`myModal-<%= banner.alt %>`)" style="cursor:pointer">
                                <div class="discord-btn" style="background-color: rgb(255, 0, 47); float: right;">
                                    <i class="fas fa-times"></i> Sair
                                </div>
                            </a>
                        </div>
                    </div>
                    </form>
                </div>
                <a onclick="openMod(`myModal-<%= banner.alt %>`)">
                    <div class="item-shop">
                        <img class="img-shop" src=<%=`https://belinha-website.herokuapp.com/assets/banner/${banner.alt}.png`
                                                                %>>
                        <div class="name-shop" style="border-top:4px solid #ec27ff">
                            <%= banner.nome %>
                            <div class="preço"><i class="fas fa-coins"></i>
                                <%= banner.preço %>
                            </div>
                        </div>
                    </div>
                </a>
                <% }) %>
            </section>
            <% } else {%>
            <h2> ID invalido </h2>
            <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;"
                src="https://c.tenor.com/WAbZUbJ9CjoAAAAi/rascal-nothing-to-see-here.gif">
            <% } %>

        </div>
</body>

</html>